{
    "openapi": "3.0.0",
    "info": {
      "version": "1.0.0",
      "title": "swAPI Documentation",
      "description": "",
      "contact": {
          "name": "Matheus Muniz Dantas",
          "email": "matheus.munizera@gmail.com",
        "url": "https://matheusmuniz.dev"
      },
      "x-generation-date": "2022-09-15T23:57:29.648Z"
    },
    "servers": [
      {
        "url": "https://swapi.matheusmuniz.dev",
        "description": "Server"
      },
      {
        "url": "https://swapi-strapi.herokuapp.com/api",
        "description": "Server"
      },
      {
        "url": "http://localhost:5500",
        "description": "Local"
      }
    ],
    "components": {
      "schemas": {
        "Error": {
          "type": "object",
          "required": [
            "error"
          ],
          "properties": {
            "data": {
              "nullable": true,
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "array",
                  "items": []
                }
              ]
            },
            "error": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "object"
                }
              }
            }
          }
        },
        "AllRequest": {
          "type": "object",
          "required": [
            "data"
          ],
          "properties": {
            "data": {
              "required": [],
              "type": "object",
              "properties": {
                "content": {}
              }
            }
          }
        },
        "AllListResponseDataItem": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "attributes": {
              "type": "object",
              "properties": {
                "content": {},
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "publishedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "firstname": {
                              "type": "string"
                            },
                            "lastname": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "resetPasswordToken": {
                              "type": "string"
                            },
                            "registrationToken": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "users": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {}
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "permissions": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string"
                                                        },
                                                        "subject": {
                                                          "type": "string"
                                                        },
                                                        "properties": {},
                                                        "conditions": {},
                                                        "role": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "createdAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "updatedAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "createdBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "updatedBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "updatedBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "blocked": {
                              "type": "boolean"
                            },
                            "preferedLanguage": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "createdBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "updatedBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "updatedBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "AllListResponseDataItemLocalized": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "attributes": {
              "type": "object",
              "properties": {
                "content": {},
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "publishedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "firstname": {
                              "type": "string"
                            },
                            "lastname": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "resetPasswordToken": {
                              "type": "string"
                            },
                            "registrationToken": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "users": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {}
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "permissions": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string"
                                                        },
                                                        "subject": {
                                                          "type": "string"
                                                        },
                                                        "properties": {},
                                                        "conditions": {},
                                                        "role": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "createdAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "updatedAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "createdBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "updatedBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "updatedBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "blocked": {
                              "type": "boolean"
                            },
                            "preferedLanguage": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "createdBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "updatedBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "updatedBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "AllListResponse": {
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AllListResponseDataItem"
              }
            },
            "meta": {
              "type": "object",
              "properties": {
                "pagination": {
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer",
                      "minimum": 25
                    },
                    "pageCount": {
                      "type": "integer",
                      "maximum": 1
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "AllResponseDataObject": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "attributes": {
              "type": "object",
              "properties": {
                "content": {},
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "publishedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "firstname": {
                              "type": "string"
                            },
                            "lastname": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "resetPasswordToken": {
                              "type": "string"
                            },
                            "registrationToken": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "users": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {}
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "permissions": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string"
                                                        },
                                                        "subject": {
                                                          "type": "string"
                                                        },
                                                        "properties": {},
                                                        "conditions": {},
                                                        "role": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "createdAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "updatedAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "createdBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "updatedBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "updatedBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "blocked": {
                              "type": "boolean"
                            },
                            "preferedLanguage": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "createdBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "updatedBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "updatedBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "AllResponseDataObjectLocalized": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "attributes": {
              "type": "object",
              "properties": {
                "content": {},
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "publishedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "firstname": {
                              "type": "string"
                            },
                            "lastname": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "resetPasswordToken": {
                              "type": "string"
                            },
                            "registrationToken": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "users": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {}
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "permissions": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string"
                                                        },
                                                        "subject": {
                                                          "type": "string"
                                                        },
                                                        "properties": {},
                                                        "conditions": {},
                                                        "role": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "createdAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "updatedAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "createdBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "updatedBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "updatedBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "blocked": {
                              "type": "boolean"
                            },
                            "preferedLanguage": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "createdBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "updatedBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "updatedBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "AllResponse": {
          "properties": {
            "data": {
              "$ref": "#/components/schemas/AllResponseDataObject"
            },
            "meta": {
              "type": "object"
            }
          }
        },
        "CharacterRequest": {
          "type": "object",
          "required": [
            "data"
          ],
          "properties": {
            "data": {
              "required": [],
              "type": "object",
              "properties": {
                "content": {}
              }
            }
          }
        },
        "CharacterListResponseDataItem": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "attributes": {
              "type": "object",
              "properties": {
                "content": {},
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "publishedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "firstname": {
                              "type": "string"
                            },
                            "lastname": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "resetPasswordToken": {
                              "type": "string"
                            },
                            "registrationToken": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "users": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {}
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "permissions": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string"
                                                        },
                                                        "subject": {
                                                          "type": "string"
                                                        },
                                                        "properties": {},
                                                        "conditions": {},
                                                        "role": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "createdAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "updatedAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "createdBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "updatedBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "updatedBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "blocked": {
                              "type": "boolean"
                            },
                            "preferedLanguage": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "createdBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "updatedBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "updatedBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "CharacterListResponseDataItemLocalized": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "attributes": {
              "type": "object",
              "properties": {
                "content": {},
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "publishedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "firstname": {
                              "type": "string"
                            },
                            "lastname": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "resetPasswordToken": {
                              "type": "string"
                            },
                            "registrationToken": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "users": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {}
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "permissions": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "attributes": {
                                                      "type": "object",
                                                      "properties": {
                                                        "action": {
                                                          "type": "string"
                                                        },
                                                        "subject": {
                                                          "type": "string"
                                                        },
                                                        "properties": {},
                                                        "conditions": {},
                                                        "role": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "createdAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "updatedAt": {
                                                          "type": "string",
                                                          "format": "date-time"
                                                        },
                                                        "createdBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "updatedBy": {
                                                          "type": "object",
                                                          "properties": {
                                                            "data": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "attributes": {
                                                                  "type": "object",
                                                                  "properties": {}
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "updatedAt": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "createdBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "updatedBy": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "blocked": {
                              "type": "boolean"
                            },
                            "preferedLanguage": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "createdBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            },
                            "updatedBy": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "updatedBy": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "CharacterListResponse": {
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CharacterListResponseDataItem"
              }
            },
            "meta": {
              "type": "object",
              "properties": {
                "pagination": {
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer",
                      "minimum": 25
                    },
                    "pageCount": {
                      "type": "integer",
                      "maximum": 1
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
[...]
